<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>springMVC</title>
<style>
div{
	width : 100px;
	height: 100px;
	border:  1px solid #ccc;
	background-color: #ff0;
}
</style>
</head>
<body>
<h1>springMVC</h1>
now : [[${now}]]<br/>
age : <div th:text=${age} />
per : <div th:text=${per.name} />

<h2>	param</h2>
<a href="param1?name=aaa&age=34&marriage=true">param1</a>
<a href="param2?name=aaa&age=34&marriage=true">param2</a>
<a href="param3?name=aaa&age=34&marriage=true">param3</a>
<a href="param4?name=aaa&age=34&marriage=true">param4</a>
<a href="param5?name=aaa&age=34&marriage=true">param5</a>
<a href="param6?name=aaa&age=34&marriage=true">param6</a>
<a href="person">person</a>
<a href="stud">stud</a>
<a href="buyOrder">buyOrder</a>
<a href="stud/list">stud/list</a>
<a href="file">file</a>
<h2>	cookie</h2>
<a href="coo/make">make</a>
<a href="coo/view">view</a>
<a href="coo/modify">modify</a>
<a href="coo/delete">delete</a>
<a href="coo/logMain">logMain</a>
<h2>	session</h2>
<a href="ses/view">view</a>
<a href="ses/make1">make1</a>
<a href="ses/make2">make2</a>
<a href="ses/delete1">delete1</a>
<a href="ses/delete2">delete2</a>
<h2>	thyme</h2>
<a href="thyme/var">var</a>
<a href="thyme/calc">calc</a>
<a href="thyme/control">control</a>
<a href="thyme/control2">control2</a>
<a href="thyme/link">link</a>
<a href="thyme/validate">validate</a>
<a href="thyme/form">form</a>
<a href="thyme/layout">layout</a>
<h2>	redirect</h2>
<a href="red/from1">from1</a>
<a href="red/from2">from2</a>
<a href="red/from3">from3</a>
<a href="red/from4">from4</a>
<a href="red/from5">from5</a>
<a href="red/from6">from6</a>
<h2>	model</h2>
<a href="mmm/list?pid=aaa&age=26&marriage=true">list</a>
<a href="mmm/detail?pid=aaa&age=26&marriage=true&pname=자전거소현&kor=85&eng=95&mat=65">detail</a>
<a href="shop/info">shop</a>
<h2>path</h2>
<a href="path/info/hello">info/hello</a>
<a href="path/info/history">info/history</a>
<a href="path/product/list">product/list</a>
<a href="path/product/detail">product/detail</a>
<a href="path/gall/spring">gall/spring</a>
<a href="path/gall/winter">gall/winter</a>
<a href="path/center/notice">center/notice</a><br/>
<a href="path/product/detail/34">product/detail/34</a>
<a href="path/event">product/event</a>
<br/>
<a href="pathShop/info/hello">path쇼핑몰</a>
<h2>interceptor</h2>
<a href="intercep/event">event</a>
<h2>excep</h2>
<a href="excep/errTestGo?cnt=3">errTestGo</a>
<a href="excep/errTestGo2?cnt=3">errTestGo2</a>

</body>
</html>

