<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>springMVC</title>
<style>
div{
	width : 100px;
	height: 100px;
	border:  1px solid #ccc;
	background-color: #ff0;
}
</style>
</head>
<body>
<h1>springMVC</h1>
now : [[${now}]]<br/>
age : <div th:text=${age} />
per : <div th:text=${per.name} />

<h2>	param</h2>
<a href="param1?name=aaa&age=34&marriage=true">param1</a>
<a href="param2?name=aaa&age=34&marriage=true">param2</a>
<a href="param3?name=aaa&age=34&marriage=true">param3</a>
<a href="param4?name=aaa&age=34&marriage=true">param4</a>
<a href="param5?name=aaa&age=34&marriage=true">param5</a>
<a href="param6?name=aaa&age=34&marriage=true">param6</a>
<a href="person">person</a>
</body>
</html>
