<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>thyme/calc</title>
</head>
<body>
	<h1>thyme/calc</h1>
	<h2>산술</h2>
	${15+7} : [[${15+7}]]<br/>
	15-7 : <span th:text="15-7" /><br/>
	${15*7} : <span th:text="${15*7}" /><br/>
	${aa/7} : [[${aa/7}]]<br/>
	<th:block th:with="bb=30">
		${bb%7} : [[${bb%7}]]<br/>
	</th:block>
	${15+'아기상어'} : [[${15+'아기상어'}]]<br/>
	<!-- | 안에 있는 내용을 문자열로 변환  | -->
	|${15}  ${'아기상어'} | : [[ |${15}  ${'아기상어'} |]]<br/>
	
	<h2>비교</h2>
	${aa >  7} : [[${aa > 7}]]<br/>
	${aa >= 7} : [[${aa >= 7}]]<br/>
	${aa <= 7} : [[${aa <= 7}]]<br/>
	${aa <  7} : [[${aa < 7}]]<br/>
	${aa == 7} : [[${aa == 7}]]<br/>
	${aa != 7} : [[${aa != 7}]]<br/>
	
	${aa gt  7} : [[${aa gt 7}]]<br/>
	${aa ge  7} : [[${aa ge 7}]]<br/>
	${aa le  7} : [[${aa le 7}]]<br/>
	${aa lt  7} : [[${aa lt 7}]]<br/>
	${aa eq  7} : [[${aa eq 7}]]<br/>
	${aa ne  7} : [[${aa ne 7}]]<br/>
	
	${'장동건' gt '장서건'} : [[${'장동건' gt '장서건'}]]<br/>
	${'장동건' ge '장서건'} : [[${'장동건' ge '장서건'}]]<br/>
	${'장동건' le '장서건'} : [[${'장동건' le '장서건'}]]<br/>
	${'장동건' lt '장서건'} : [[${'장동건' lt '장서건'}]]<br/>
	${'장동건' eq '장서건'} : [[${'장동건' eq '장서건'}]]<br/>
	${'장동건' ne '장서건'} : [[${'장동건' ne '장서건'}]]<br/>
</body>
</html>