<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글쓰기 입니다.</title>
</head>
<body>
	<h1>글쓰기 입니다.</h1>
	<form method="post" enctype="multipart/form-data">
		<table border="">
			<tr>
				<td>제목</td>
				<td><input type="text" name="title" /></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" name="pname" /></td>
			</tr>
			<tr>
				<td>암호</td>
				<td><input type="text" name="pw" /></td>
			</tr>
			<tr>
				<td>파일</td>
				<td><input type="file" name="upFF" /></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea name="content" ></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a th:href="@{/}">목록으로</a>
					<input type="submit" value="작성" />
				</td>
			</tr>
		</table>
	
	</form>
</body>
</html>