<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>pathShop</title>
</head>
<body>
<h1>path 쇼핑몰</h1>
<table border="">
	<tr>
		<td colspan="2">
			<th:block th:replace="path/header"/>
		</td>
	</tr>
	<tr>
		<td>
			<th:block th:replace="|path/menu/${pathInfo.cate}|"/>
		</td>
		<td>
			<th:block th:replace="|path/main/${pathInfo.cate}/${pathInfo.service}|"/>
		</td>
	</tr>
</table>
</body>
</html>