<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fileForm</title>
</head>
<body>
<h1>fileForm</h1>
<form action="" method="post" enctype="multipart/form-data">
	<table border="">
		<tr>
			<td>이름</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>나이</td>
			<td><input type="text" name="age" /></td>
		</tr>
		<tr>
			<td>파일</td>
			<td><input type="file" name="upfile" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="가입" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>