<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>시험정보입니다.</title>
</head>
<body>
<h1>시험정보입니다.</h1>
<a href="arr?no=2">arr</a>
<a href="div?no=2">div</a>
<table border="">
	<tr>
		<td>이름</td>
		<td th:text="${st.name}"></td>
	</tr>
	<tr>
		<td>국어</td>
		<td>[[${st.kor}]]</td>
	</tr>
	<tr>
		<td>영어</td>
		<td th:text="${st.eng}"></td>
	</tr>
	<tr>
		<td>수학</td>
		<td th:text="${st.mat}"></td>
	</tr>
	<tr>
		<td>총점</td>
		<td th:text="${st.tot}"></td>
	</tr>
	<tr>
		<td>평균</td>
		<td th:text="${st.avg}"></td>
	</tr>
</table>



</body>
</html>