<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>글수정 입니다.</title>
</head>
<body>
	<h1>글수정 입니다.</h1>
	<form method="post" th:object="${dto}">
		<table border="">
			<tr>
				<td>제목</td>
				<td><input type="text" th:field="*{title}" /></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" th:field="*{pname}" /></td>
			</tr>
			<tr>
				<td>암호</td>
				<td><input type="text" name="pw" /></td>
			</tr>
			
			<tr>
				<td>내용</td>
				<td><textarea name="content" >[[*{content}]]</textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a th:href="@{|/detail/*{id}|}">뒤로</a>
					<input type="submit" value="수정" />
				</td>
			</tr>
		</table>
	
	</form>
</body>
</html>